
@font-face {
    font-family: 'rondo';
    src: url("./font/rondo.ttf");
}

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    height:  100vh;
    background-color: #b8aec8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banner{
    font-family: 'rondo', cursive;
    text-align: center;
    font-size: 42px;
    color: #faa405;
    padding: 10px 0 10px 0;
}
.grid-border{
    justify-self: center;
    padding: 0 65px 20px 65px;
    border-radius: 40px;
    background-color: #d41500;
    color:lightgray;
    margin-top: 5vh;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}
#slider-value{
    font-size: 16px;
}
#grid-container{
    display: grid;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}
.shadow{
    position: absolute;
    width: 600px;
    height: 600px;
    overflow-y: hidden;
    border-radius: 10px;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.cell-border{
    border: 1px solid black;
}
#slider-container{
    display: flex;
    flex-direction: row;
}
.material-symbols-sharp.md-48{
    font-size: 36px;
}
.slider{
    width: 125px;
}
.controls{
    width:600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 8px;
}
button{
    display:inline-block;
    font-family: 'monospace';
    border-radius: 20%;
    height: 4em;
    width: 4em;
    font-weight: 500;
    font-size: 12px;
    border-radius: 50%;
    border-style: none;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
}
.color-picker{
    display: none;
}
#black-button{
    background-color: black;
    border-color: black;
}
#erase-button{
    background-color: lightgray;
    border-color: lightgrey;
    color: lightgrey;
}
.footer{
    font-family: monospace;
    font-size: 16px;
    padding:10px 0 8px 0;
}