
@font-face {
    font-family: 'rondo';
    src: url("./font/rondo.ttf");
}
html{
    box-sizing: border-box;
    font-family: 'rondo', cursive;
}
body{
    margin: 0;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    text-align: center;
    font-size: xx-large;

}
.grid-border{
    justify-self: center;
    padding: 5vw 5vw 3vw 5vw;
    border-radius: 3%;
    background-color: red;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 2.5em;
    color: gold;
}
#grid-container div{
    text-align: center;
}
#grid-container{
    display: grid;
    width: 600px;
    height: 600px;
    border-radius: 10%;
}

.cell-border{
    border: 1px solid black;
}
.uncoloured{
    background-color: lightgray;
}
.coloured{
    background-color: black;
}
#slider-container{
    display: flex;
    flex-direction: row;
}
.slider{
    width: fit-content;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-items: left;
}